<div class="container">
  <div class="header bg-gradient-quickbank pb-8 pt-5 pt-md-8">
    <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-lg-7 col-md-10">
          <h4 class="display-4 text-white">
            <div *ngIf="(user$ | async) as user">
              Olá {{user.name}}
            </div>
          </h4>
          <p class="text-white mt-0 mb-5">Bem vindo ao QuickInvest, temos aqui alguns investimentos disponiveis. Para mais informações sobre cada um deles acesse nossa plataforma digital.</p>
          <!--<a href="#!" class="btn btn-info">Edit profile</a>-->
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="header-body">

        <div class="row">
          <div *ngIf="stoks.length < 1">
            <div   class=" padding-top card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row ">

                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fas fa-bullseye"></i>
                    </div>
                  </div>
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Nenhum investimento disponivel!</h5>
                  </div>

                </div>
              </div>
            </div>

          </div>
          <div *ngFor="let stock of stoks" class="col-sm-12 col-md-4 padding-top w-100" style="margin: 5px;">
            <div class="card w-100">
              <p-carousel [value]="stock.imgs" [numVisible]="1" [numScroll]="1" class="card-img-top">
                <ng-template let-img pTemplate="item">
                  <img src="{{getImagemByChave(img.chave)}}" alt="Card image cap" style="width: 100% !important;height: 100% !important;" (click)="stok = stock">
                </ng-template>
            </p-carousel>

              <div class="card-body">
                <h5 class="card-title">{{stock.stockDisplayName}} - {{stock.propertyType}}</h5>

                <div class="row" style="font-size: 12px;">
                  <div class="col-4">
                    <span>Progresso {{calcPorcent(stock.stockPrice + (stock.stockPrice * 10/ 1),stock.propertyMarketValue)}}%</span>
                  </div>
                  <div class="col-4">
                    <span>Dividendo {{calcPorcent(stock.stockPrice + (stock.stockPrice * 10 / 2),stock.propertyMarketValue)}}%</span>
                  </div>
                  <div class="col-4">
                    <span>Retorno {{calcPorcent(stock.stockPrice + (stock.stockPrice * 10 / 3),stock.propertyMarketValue)}}%</span>
                  </div>
                </div>
                <button type="button" class="btn btn-success btn-sm w-100" (click)="stok = stock">Investir</button>
              </div>
              <div class="card-footer">
                <h3 class="card-title ">{{stock.stockPrice | currency:'BRL':true:'1.2-2'}}/Ação</h3>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<p-dialog  [(visible)]="stok" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}" [modal]="true" (onHide)="finishInvestimento()">
  <ng-template pTemplate="header">
    <label>Investindo em {{stok.stockDisplayName}} - {{stok.propertyType}}</label>
  </ng-template>

  <form autocomplete="false" #formInvestir="ngForm">
    <ap-mensagem-erro [mensagem]="mensagemError"></ap-mensagem-erro>

    <div class="grid padding-top" *ngIf="stok && !nextStepReview">
      <div class="col-12 p-fluid">
        <label>Quantidade de Ações</label>

        <input type="number" pInputText placeholder="0" min="1" ngModel name="qtd" #qtd="ngModel" required="true" [(ngModel)]="quantidadeAcao" (focus)="mensagemError = null"/>
        <app-message [control]="qtd.control" error="required" text="Informe a quantidade de acoes"></app-message>

      </div>

      <div class="col-12 p-fluid">

        <div class="row" style="font-size: 12px;">
          <div class="col-6">
            <label>Valor</label><br>
            <label>{{stok.stockPrice | currency:'BRL':true:'1.2-2' }}</label>
          </div>
          <div class="col-6">
            <label>Total</label><br>
            <label style="font-weight: bold;">{{stok.stockPrice * quantidadeAcao | currency:'BRL':true:'1.2-2' }}</label>
          </div>

        </div>

      </div>

      <div class="col-12 p-fluid">

        <label>Forma de Pagamento</label>
        <p-dropdown [options]="optionsBuy" [(ngModel)]="optionBuy" placeholder="Selecione..." optionLabel="name" [showClear]="true"></p-dropdown>

      </div>

      <div class="col-12 p-fluid padding-top">
        <button pButton type="button" class="p-button-success p-button-rounded w-100" label="Continuar" [disabled]="formInvestir.invalid || !optionBuy" (click)="nextStepReview = true"></button>
      </div>

      <div class="col-12 p-fluid padding-top">
        <button pButton type="button" class="p-button-secondary p-button-rounded w-100" label="Sair" (click)="finishInvestimento()"></button>
      </div>

    </div>

    <div class="grid padding-top" *ngIf="stok && nextStepReview">

      <p *ngIf="!compraRealizada" style="color: red; font-size: 15px;margin-left: 10px;">ATENÇÃO</p><br/>
      <p *ngIf="compraRealizada" style="color: green; font-size: 15px;margin-left: 10px;">COMPRA REALIZADA COM SUCESSO!</p><br/>

      <p>
        Você está obtendo <strong>{{quantidadeAcao}} {{quantidadeAcao <= 1 ? "ação" : "ações"}}</strong> da <strong>{{stok.stockDisplayName}}</strong> ao preço de <strong>{{stok.stockPrice | currency:'BRL':true:'1.2-2' }}</strong>.
        O custo total será de <strong>{{stok.stockPrice * quantidadeAcao | currency:'BRL':true:'1.2-2' }}</strong>.
        Confirme a operação para finalizar a compra.
      </p>



      <div class="col-12 p-fluid padding-top">
        <button pButton type="button" class="p-button-success p-button-rounded w-100" label="Confirmar" [disabled]="formInvestir.invalid || !optionBuy || compraRealizada" (click)="realizaCompra()"></button>
      </div>

      <div class="col-12 p-fluid padding-top">
        <button pButton type="button" class="p-button-secondary p-button-rounded w-100" label="Cancelar" (click)="finishInvestimento()"  [disabled]="compraRealizada"></button>
      </div>


    </div>

  </form>

</p-dialog>
