<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-quickbank opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">
          <div *ngIf="(user$ | async) as user">
            Ola {{user.name}}
          </div>
        </h1>
        <p class="text-white mt-0 mb-5">Esta é a sua página de perfil. Você pode ver o progresso que fez com seu trabalho e gerenciar seus projetos ou tarefas atribuídas</p>
        <!--<a href="#!" class="btn btn-info">Edit profile</a>-->
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">

    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Minha conta</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="userProfileForm">
            <h6 class="heading-small text-muted mb-4">Informacoes do Usuario</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Username</label>
                      <input type="text"
                      id="input-username"
                      class="form-control form-control-alternative"
                      placeholder="Username"
                      formControlName="username">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email</label>
                    <input type="email"
                           id="input-email"
                           class="form-control form-control-alternative"
                           placeholder="jesse@example.com"
                           formControlName="email">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Nome</label>
                    <input type="text"
                           id="input-first-name"
                           class="form-control form-control-alternative"
                           placeholder="First name"
                           formControlName="nome">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-agencia">Agencia</label>
                    <input type="text"
                           id="input-agencia"
                           class="form-control form-control-alternative"
                           placeholder="Agencia"
                           formControlName="agencia">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-conta">Conta</label>
                    <input type="text"
                           id="input-conta"
                           class="form-control form-control-alternative"
                           placeholder="Conta"
                           formControlName="conta">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
