<div   class=" padding-top card card-stats mb-4 mb-xl-0">
  <div class="card-body">
    <div class="row ">


      <div class="col">
        <h5 class="card-title text-uppercase text-muted mb-0">{{goal.nameGoal}}</h5>

        <div class="progress-wrapper">
          <div class="progress-info">
            <div class="progress-label">
              <span>{{goal.currentGoalValue | currency:'BRL':true:'1.2-2'}} de {{goal.valueGoal | currency:'BRL':true:'1.2-2'}}</span>
            </div>

            <div class="progress-percentage">
              <span>{{calcPorcent(goal.currentGoalValue,goal.valueGoal)}}%</span>
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar bg-default" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [style.width]="calcPorcent(goal.currentGoalValue,goal.valueGoal) + '%'"></div>
          </div>
        </div>
      </div>
      <div>

        <div class="row col-12 md:col-12">
          <div class="col-3 md:col-3" >
            <button pButton pRipple type="button" icon="pi pi-arrow-circle-down"  class="p-button-rounded p-button-secondary" (click)="mostraModal()"></button>
            <label style="font-size: 11px;">Depositar</label>
          </div>
          <div class="col-3 md:col-3" >
            <i class="ni ni-fat-delete"></i><label style="font-size: 12px;font-weight: bold">Retirar</label>
          </div>
          <div class="col-3 md:col-3" >
            <i class="ni ni-active-40" ></i><label style="font-size: 12px;font-weight: bold">Alterar</label>
          </div>

          <div class="col-3 md:col-3">
            <a href="#" (click)="deletarMeta()">
              <i class="ni ni-fat-remove"></i>
              <label style="font-size: 12px;font-weight: bold" >Excluir</label>
            </a>

          </div>

        </div>
      </div>

    </div>
  </div>
</div>


