<div class="container">
  <div class="header bg-gradient-quickbank pb-8 pt-5 pt-md-8">

    <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-lg-7 col-md-10">
          <p class="text-white mt-0 mb-5">Aqui você pode visualizar e acompanhar seus investimentos.</p>
          <!--<a href="#!" class="btn btn-info">Edit profile</a>-->
        </div>
      </div>
    </div>

    <div *ngIf="listStocks.length < 1">
      <div   class=" padding-top card card-stats mb-4 mb-xl-0">
        <div class="card-body">
          <div class="row ">

            <div class="col-auto">
              <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                <i class="fas fa-bullseye"></i>
              </div>
            </div>
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">Nenhum investimento encontrado!</h5>
            </div>

          </div>
        </div>
      </div>

    </div>


    <p-chart *ngIf="listStocks.length > 0" type="doughnut" [data]="data" [options]="chartOptions" [style]="{'width': '40%'}"></p-chart>

    <hr *ngIf="listStocks.length > 0">
      <strong *ngIf="listStocks.length > 0" style="margin-left: 40%;margin-right: 40%;font-size: 15;">TOTAL:</strong><br>
      <strong *ngIf="listStocks.length > 0" style="margin-left: 40%;margin-right: 40%;font-size: 15;">{{totalEmAcoes | currency:'BRL':true:'1.2-2'}}</strong>
    <hr><br>

    <p-table *ngIf="listStocks.length > 0" responsiveLayout="scroll" [value]="listStocks" [paginator]="true" [rows]="5" [responsive]="true">
      <ng-template pTemplate="header">
          <tr>
              <th>Investimento</th>
              <th>Ações</th>
              <th>Total</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-stock>
          <tr>
              <td>{{stock.stockDisplayName}}</td>
              <td>{{stock.numberOfStocks}}</td>
              <td>{{stock.totalInvestment | currency:'BRL':true:'1.2-2'}}</td>
          </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5">
            Nenhum investimento encontrado
          </td>
        </tr>
      </ng-template>
    </p-table>

  </div>
</div>
