<div class="container">
  <div class="header bg-gradient-quickbank pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          <div class="col-sm-8">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Saldo</h5>
                    <span class="h2 font-weight-bold mb-0">
                      <div *ngIf="(user$ | async) as user">
                        <div *ngIf="mostraValor; else valorOculto">
                          <span class="navbar-text">
                            <i class="fas fa-eye-slash" (click)="mostrarValorOculto()">        {{user.saldo | currency:'BRL':true:'1.2-2'}}</i>
                          </span>
                        </div>
                        <ng-template #valorOculto class="h2 font-weight-bold mb-0">
                          <span class="navbar-text">
                            <i class="far fa-eye" (click)="mostrarValorOculto()">       R$ ........</i>

                          </span>
                      </ng-template>
                      </div>
                    </span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fas fa-dollar-sign"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Dados da Conta</h5>
                     <div *ngIf="(user$ | async) as user">
                       <p>
                        <span class="h5 font-weight-bold mb-0">AG: {{user.agencia}} C: {{user.conta}}</span>
                      </p>
                     </div>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fas fa-address-card"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <app-modal-enviar (transferenciaRealizada)="atualizarTransferencias()"></app-modal-enviar>


        <div class="row padding-top">
            <!--Transfer-->



            <div class="col-sm-6">

              <div class="row">

              <div class="col-md-6 col-6"><label class="h5 text-white text-uppercase link-left"> Últimas transações</label></div>
              <div *ngIf="transferenciasResumo.length > 0" class="col-md-6 col-6"><a class="h5 text-white text-uppercase link-right" href="#">Ver mais</a></div>

              </div>

              <div *ngIf="transferenciasResumo.length < 1">
                <div   class=" padding-top card card-stats mb-4 mb-xl-0">
                  <div class="card-body">
                    <div class="row ">

                      <div class="col-auto">
                        <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                          <i class="far fa-sad-cry"></i>
                        </div>
                      </div>
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Nenhuma transação encontrada!</h5>
                      </div>

                    </div>
                  </div>
                </div>

              </div>

              <div *ngFor="let transfer of transferenciasResumo" class="padding-top">
                <div  class="card card-stats mb-4 mb-xl-0">
                  <div class="card-body">
                    <div class="row ">
                      <div class="col-auto">

                        <div *ngIf="transfer.valor < 0" class="icon icon-shape text-white rounded-circle shadow bg-danger" >
                          <i class="fas fa-star"></i>
                        </div>
                        <div *ngIf="transfer.valor > 0" class="icon icon-shape text-white rounded-circle shadow bg-info" >
                          <i class="fas fa-star"></i>
                        </div>
                      </div>
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Transferência</h5>

                        <p *ngIf="transfer.valor > 0">Transferencia de {{transfer.targetUser}}</p>
                        <p *ngIf="transfer.valor < 0">Transferencia para {{transfer.targetUser}}</p>

                      </div>

                      <div class="col-auto">
                        <div>
                          {{transfer.data | date:'dd/MM/y'}}
                        </div>
                        <div [ngStyle]="{color: transfer.valor  < 0 ? 'red' : '#11cdef'}">
                          {{transfer.valor | currency:'BRL':true:'1.2-2'}}
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

            </div>


             <!--Gols-->
            <div class="col-sm-6 col-md-6">
              <div class="row">
                <div class="col-md-6 col-6"><label class="h5 text-white text-uppercase link-left"> Metas</label></div>
                <div class="col-md-6 col-6"><a class="h5 text-white text-uppercase link-right" (click)="modalCriarMeta = true">Criar meta</a></div>
              </div>

                <div *ngFor="let g of goals" class="padding-top">
                  <app-meta
                  (mostraModalAdicionarMeta)="adicionarEmMeta($event)"
                  (mostraModalRetirarMeta)="removerDeMeta($event)"
                  (mostraModalAttMeta)="attualizaMeta($event)"
                  (metaExcluida)="atualizarMetas()" [goal]="g"></app-meta>
                </div>

                <div *ngIf="goals.length < 1">
                  <div   class=" padding-top card card-stats mb-4 mb-xl-0">
                    <div class="card-body">
                      <div class="row ">

                        <div class="col-auto">
                          <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                            <i class="fas fa-bullseye"></i>
                          </div>
                        </div>
                        <div class="col">
                          <h5 class="card-title text-uppercase text-muted mb-0">Nenhuma meta cadastrada!</h5>
                        </div>

                      </div>
                    </div>
                  </div>

                </div>


            </div>

            <p-dialog  [(visible)]="modalCriarMeta" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}" [modal]="true" (onHide)="finishAtualizarMeta()">
              <ng-template pTemplate="header">
                <label>Criar meta</label>
              </ng-template>

              <form autocomplete="false" #formCriarMeta="ngForm">
                <ap-mensagem-erro [mensagem]="mensagemError"></ap-mensagem-erro>

                <div class="grid padding-top">

                  <p *ngIf="mensagemMetaCriada" style="color: green;">{{mensagemMetaCriada}}</p>

                  <div class="col-12 p-fluid">
                    <label for="nomeMetaInput">Nome</label>
                    <input pInputText id="nomeMetaInput" ngModel #nomeMetaInput="ngModel" class="form-control"  name="nomeMetaInput" required minlength="3" [(ngModel)]="nomeMeta" (focus)="mensagemError = null" [disabled]="!!mensagemMetaCriada">
                    <app-message [control]="nomeMetaInput.control" error="required" text="Informe o nome da meta"></app-message>
                    <app-message [control]="nomeMetaInput.control" error="minlength" text="Informe pelo menos {{nomeMetaInput.errors?.minlength?.requiredLength}}"></app-message>
                 </div>

                 <div class="col-12 p-fluid">
                  <label>Valor</label>
                  <p-inputNumber mode="currency" [min]="1" placeholder="0,00" [minFractionDigits]="2" locale="pt-BR" currency="BRL" ngModel name="valor" #valor="ngModel" [required]="true" [(ngModel)]="valorMeta" (focus)="mensagemError = null" [disabled]="!!mensagemMetaCriada"></p-inputNumber>

                  <app-message [control]="valor.control" error="required" text="Informe o valor"></app-message>

                </div>

                <div class="col-12 p-fluid padding-top" *ngIf="!mensagemMetaCriada">
                  <button pButton type="button" class="p-button-success p-button-rounded w-100" label="Criar Meta" [disabled]="formCriarMeta.invalid" (click)="criarMeta()"></button>
                </div>

                <div class="col-12 p-fluid padding-top" *ngIf="mensagemMetaCriada">
                  <button pButton type="button" class="p-button-secondary p-button-rounded w-100" label="Sair" [disabled]="formCriarMeta.invalid" (click)="finishCriarMeta()"></button>
                </div>

                </div>

              </form>

            </p-dialog>

            <p-dialog  [(visible)]="modalAdicionameta" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}" [modal]="true" (onHide)="finishAtualizarMeta()">
              <ng-template pTemplate="header">
                <label>Atualizar meta</label>
              </ng-template>

              <form autocomplete="false" #formAtualizarMeta="ngForm">
                <ap-mensagem-erro [mensagem]="mensagemError"></ap-mensagem-erro>

                <div class="grid padding-top">
                  <p *ngIf="mensagemMetaAtualizada" style="color: green;">{{mensagemMetaAtualizada}}</p>

                  <div class="col-12 p-fluid">
                    <label for="valorAdicionadoInput">Valor a ser adicionado</label>

                    <p-inputNumber mode="currency" [min]="1" placeholder="0,00" [minFractionDigits]="2" locale="pt-BR" currency="BRL" ngModel name="valor" #valor="ngModel" [required]="true" [(ngModel)]="valorAddMeta" (focus)="mensagemError = null" [disabled]="!!mensagemMetaAtualizada"></p-inputNumber>

                    <app-message [control]="valor.control" error="required" text="Informe o valor"></app-message>
                 </div>

                 <div class="col-12 p-fluid padding-top" *ngIf="!mensagemMetaAtualizada">
                  <button pButton type="button" class="p-button-success p-button-rounded w-100" label="Concluir" [disabled]="formAtualizarMeta.invalid" (click)="atualizarMeta()"></button>
                </div>

                <div class="col-12 p-fluid padding-top" *ngIf="mensagemMetaAtualizada">
                  <button pButton type="button" class="p-button-secondary p-button-rounded w-100" label="Sair" [disabled]="formAtualizarMeta.invalid" (click)="finishAtualizarMeta()"></button>
                </div>

                </div>

              </form>

            </p-dialog>

            <p-dialog  [(visible)]="modalRetirarDeMeta" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}" [modal]="true" (onHide)="finishAtualizarMeta()">
              <ng-template pTemplate="header">
                <label>Atualizar meta</label>
              </ng-template>

              <form autocomplete="false" #formRetirarMeta="ngForm">
                <ap-mensagem-erro [mensagem]="mensagemError"></ap-mensagem-erro>

                <div class="grid padding-top">
                  <p *ngIf="mensagemMetaAtualizada" style="color: green;">{{mensagemMetaAtualizada}}</p>

                  <div class="col-12 p-fluid">
                    <label for="valorAdicionadoInput">Valor a ser retirado</label>

                    <p-inputNumber mode="currency" [min]="1" placeholder="0,00" [minFractionDigits]="2" locale="pt-BR" currency="BRL" ngModel name="valor" #valor="ngModel" [required]="true" [(ngModel)]="valorAddMeta" (focus)="mensagemError = null" [disabled]="!!mensagemMetaAtualizada"></p-inputNumber>

                    <app-message [control]="valor.control" error="required" text="Informe o valor"></app-message>
                 </div>

                 <div class="col-12 p-fluid padding-top" *ngIf="!mensagemMetaAtualizada">
                  <button pButton type="button" class="p-button-success p-button-rounded w-100" label="Concluir" [disabled]="formRetirarMeta.invalid" (click)="retirarMeta()"></button>
                </div>

                <div class="col-12 p-fluid padding-top" *ngIf="mensagemMetaAtualizada">
                  <button pButton type="button" class="p-button-secondary p-button-rounded w-100" label="Sair" [disabled]="formRetirarMeta.invalid" (click)="finishAtualizarMeta()"></button>
                </div>

                </div>

              </form>

            </p-dialog>

            <p-dialog  [(visible)]="modalAttMeta" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}" [modal]="true" (onHide)="finishAtualizarMeta()">
              <ng-template pTemplate="header">
                <label>Atualizar meta</label>
              </ng-template>

              <form autocomplete="false" #formAttMeta="ngForm">
                <ap-mensagem-erro [mensagem]="mensagemError"></ap-mensagem-erro>

                <div class="grid padding-top">
                  <p *ngIf="mensagemMetaAtualizada" style="color: green;">{{mensagemMetaAtualizada}}</p>

                  <div class="col-12 p-fluid">
                    <div class="col-12 p-fluid">
                      <label for="nomeMetaInput">Nome</label>
                      <input pInputText id="nomeMetaInput" ngModel #nomeMetaInput="ngModel" class="form-control"  name="nomeMetaInput" disabled [(ngModel)]="nomeMeta" (focus)="mensagemError = null">

                    </div>

                   <div class="col-12 p-fluid">
                    <label>Valor</label>
                    <p-inputNumber mode="currency" [min]="1" placeholder="0,00" [minFractionDigits]="2" locale="pt-BR" currency="BRL" ngModel name="valor" #valor="ngModel" [required]="true" [(ngModel)]="valorAddMeta" (focus)="mensagemError = null" [disabled]="!!mensagemMetaAtualizada"></p-inputNumber>

                    <app-message [control]="valor.control" error="required" text="Informe o valor"></app-message>

                  </div>
                 </div>

                 <div class="col-12 p-fluid padding-top" *ngIf="!mensagemMetaAtualizada">
                  <button pButton type="button" class="p-button-success p-button-rounded w-100" label="Concluir" [disabled]="formAttMeta.invalid" (click)="attMeta()"></button>
                </div>

                <div class="col-12 p-fluid padding-top" *ngIf="mensagemMetaAtualizada">
                  <button pButton type="button" class="p-button-secondary p-button-rounded w-100" label="Sair" [disabled]="formAttMeta.invalid" (click)="finishAtualizarMeta()"></button>
                </div>

                </div>

              </form>

            </p-dialog>

        </div>


      </div>
    </div>
  </div>

</div>



