<div class="container">
  <div class="header bg-gradient-quickbank pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">
          <div class="col-sm-8">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Saldo</h5>
                    <span class="h2 font-weight-bold mb-0">
                      <div *ngIf="(user$ | async) as user">
                        <div *ngIf="mostraValor; else valorOculto">
                          <span class="navbar-text">
                            <i class="fas fa-eye-slash" (click)="mostrarValorOculto()">        {{user.saldo | currency:'BRL':true:'1.2-2'}}</i>
                          </span>
                        </div>
                        <ng-template #valorOculto class="h2 font-weight-bold mb-0">
                          <span class="navbar-text">
                            <i class="far fa-eye" (click)="mostrarValorOculto()">       R$ ........</i>

                          </span>
                      </ng-template>
                      </div>
                    </span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fas fa-dollar-sign"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Dados da Conta</h5>
                     <div *ngIf="(user$ | async) as user">
                       <p>
                        <span class="h5 font-weight-bold mb-0">AG: {{user.agencia}} C: {{user.conta}}</span>
                      </p>
                     </div>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fas fa-address-card"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <app-modal-enviar></app-modal-enviar>




        <div class="row padding-top">
            <!--Transfer-->

            <div class="col-sm-6">

              <div class="row">

              <div class="col-md-6 col-6"><label class="h5 text-white text-uppercase link-left"> Últimas transações</label></div>
              <div class="col-md-6 col-6"><a class="h5 text-white text-uppercase link-right" href="#">Ver mais</a></div>

              </div>

              <div *ngFor="let transfer of transferenciasResumo" class="padding-top">
                <div  class="card card-stats mb-4 mb-xl-0">
                  <div class="card-body">
                    <div class="row ">
                      <div class="col-auto">

                        <div *ngIf="transfer.valor < 0" class="icon icon-shape text-white rounded-circle shadow bg-danger" >
                          <i class="fas fa-star"></i>
                        </div>
                        <div *ngIf="transfer.valor > 0" class="icon icon-shape text-white rounded-circle shadow bg-info" >
                          <i class="fas fa-star"></i>
                        </div>
                      </div>
                      <div class="col">
                        <h5 class="card-title text-uppercase text-muted mb-0">Transferência</h5>

                        <p *ngIf="transfer.valor > 0">Transferencia de {{transfer.targetUser}}</p>
                        <p *ngIf="transfer.valor < 0">Transferencia para {{transfer.targetUser}}</p>

                      </div>

                      <div class="col-auto">
                        <div>
                          {{transfer.data | date:'dd/MM/y'}}
                        </div>
                        <div [ngStyle]="{color: transfer.valor  < 0 ? 'red' : '#11cdef'}">
                          {{transfer.valor | currency:'BRL':true:'1.2-2'}}
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>

            </div>


             <!--Gols-->
            <div class="col-sm-6 col-md-6">
              <div class="row">
                <div class="col-md-6 col-6"><label class="h5 text-white text-uppercase link-left"> Metas</label></div>
                <div class="col-md-6 col-6"><a class="h5 text-white text-uppercase link-right" href="#">Criar meta</a></div>
              </div>

                <div *ngFor="let goal of goals" class="padding-top">
                  <div   class=" padding-top card card-stats mb-4 mb-xl-0">
                    <div class="card-body">
                      <div class="row ">


                        <div class="col">
                          <h5 class="card-title text-uppercase text-muted mb-0">{{goal.nameGoal}}</h5>

                          <div class="progress-wrapper">
                            <div class="progress-info">
                              <div class="progress-label">
                                <span>{{goal.currentGoalValue | currency:'BRL':true:'1.2-2'}} de {{goal.valueGoal | currency:'BRL':true:'1.2-2'}}</span>
                              </div>

                              <div class="progress-percentage">
                                <span>{{calcPorcent(goal.currentGoalValue,goal.valueGoal)}}%</span>
                              </div>
                            </div>
                            <div class="progress">
                              <div class="progress-bar bg-default" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" [style.width]="calcPorcent(goal.currentGoalValue,goal.valueGoal) + '%'"></div>
                            </div>
                          </div>
                        </div>
                        <div class="col-auto">
                          <i class="ni ni-fat-add">Depositar</i><br>
                          <i class="ni ni-fat-delete">Retirar</i><br>
                          <i class="ni ni-active-40">Alterar</i><br>
                          <i class="ni ni-fat-remove">Excluir</i>

                        </div>

                      </div>
                    </div>
                  </div>

                </div>


            </div>

        </div>


      </div>
    </div>
  </div>

</div>
